.animate {
  opacity: 0;
  /* background: red; */
  animation: loader 4s ease-in-out forwards;
}

@keyframes loader {
  0% {
    opacity: 0; /* Start with opacity 0 */
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0; /* End with opacity 1 */
  }
}
