@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #03090e;
  font-family: "IBM Plex Sans", sans-serif;
}

/* castome fonts */
.ibm-plex-mono {
  font-family: "IBM Plex Mono", monospace;
}

.shadows {
  filter: drop-shadow(0px 0px 60px #83ed9146);
}
.shadowses {
  filter: drop-shadow(0px 0px 20px #84ec8e);
}
/* bg */
.bg {
  background: linear-gradient(
    0deg,
    rgba(56, 83, 98, 0.145) 0%,
    /* rgba(30, 37, 41, 0) %, */ rgba(30, 37, 41, 0) 100%
  );
}

/* animate */
.main {
  opacity: 0;
  animation: loader 0.8s ease-in-out forwards;
}

@keyframes loader {
  0% {
    opacity: 0; /* Start with opacity 0 */
  }
  100% {
    opacity: 1; /* End with opacity 1 */
  }
}
